/*
* Global Selectors
*/
@font-face {
  font-family: "pixel";
  src: url("../src/fonts/Minecraft.ttf") format("truetype");
}

@font-face {
  font-family: rocketship;
  src: url("../src/fonts/Supersonic\ Rocketship.ttf");
}
:root {
  --primary-green: #61ce8c;
  --green-dark: #48bc76;
  --green-light: #8fe9b3;
  --primary-purple: #ad6bf9;
  --purple-light: #c08ef8;
  --purple-dark: #8b44db;
  --font: verdana, arial, sans-serif, helvetica;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--font);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(128, 121, 131);
  overflow-x: hidden;
  overflow-y: hidden;
}

header,
main,
#bottom-marquee,
footer {
  width: 90%;
  box-sizing: border-box;
}

/*
* HEADER
*/
header {
  display: grid;
  grid-template-columns: auto auto;
}

#left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section-logo {
  width: 100%;
  height: 100px;
  background-color: var(--primary-green);
  border-top-left-radius: 30px;
}

#logo {
  position: relative;
  font-family: rocketship;
  text-align: center;
  color: #ad6bf9;
  text-shadow: 2px 2px black;
  top: 3px;
  left: -90px;
  rotate: -10deg;
  width: 340px;
  font-size: 24pt;
  cursor: pointer;
}

.animated-spin {
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: forward;
}

#top {
  display: flex;
}

#separator {
  display: flex;
  width: 400px;
  justify-content: flex-start;
}

#separator > .nav-link {
  width: 117px;
  margin: 0;
  background-color: rgb(49, 49, 49);
  border-left: 3px solid var(--primary-purple);
  padding: 5px 10px;
}

#message-container {
  background-color: black;
  width: 100%;
  padding: 5px 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#message {
  font-family: "pixel";
  font-size: 8pt;
  letter-spacing: 2pt;
  padding: 5px;
  float: right;
  text-align: center;
  animation-name: pulse;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  z-index: 1;
}

#spacer-container {
  display: flex;
  width: 100%;
}

#entrance {
  min-width: 117px;
  background-color: rgb(49, 49, 49);
  border-left: 3px solid var(--primary-purple);
}

#entrance > .nav-link {
  margin-top: 10px;
  margin-left: 14px;
}

#spacer {
  background-color: #61ce8c;
  width: 100%;
  height: 30px;
}

#greeting {
  width: 30%;
  max-width: 300px;
  position: relative;
  top: 10px;
  left: 40%;
  height: 100px;
  font-size: 6pt;
  color: white;
  background-color: var(--primary-purple);
  border-top: 3px solid var(--purple-light);
  border-right: 3px solid var(--purple-dark);
  border-bottom: 3px solid var(--purple-dark);
  border-left: 3px solid var(--purple-light);
  padding: 10px;
}

/*
* MAIN CONTENT
*/

main {
  height: fit-content;
  display: flex;
}

/*
* NAV
*/
nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 117px;
  background-color: rgb(49, 49, 49);
  border-left: 3px solid var(--primary-purple);
  padding-top: 10px;
}

nav > div {
  padding-left: 5px;
}

nav h3 {
  font-family: rocketship;
  color: #61ce8c;
  letter-spacing: 0.2rem;
  font-size: 12pt;
}

nav h3:not(:first-child) {
  margin-top: 10px;
}

.nav-link {
  list-style: none;
  margin-left: 10px;
  color: white;
  font-size: 8pt;
}

.nav-link > a {
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  transform: scale(1.1);
}

/*
* CONTENT
*/

#content {
  box-sizing: border-box;
  width: 680px;
}

#container {
  display: flex;
}

.item {
  width: fit-content;
  margin: 5px;
}

/*
* STAMP MARQUEE
*/

#bottom-marquee {
  display: flex;
  align-items: center;
  overflow-x: hidden;
  padding: 5px 0;
  background-color: black;
  border-top: 3px solid var(--primary-purple);
  border-bottom: 3px solid var(--primary-purple);
  border-left: 3px solid orange;
  border-right: 3px solid lightskyblue;
}

.marquee {
  display: flex;
  align-items: center;
  animation: loop 10s infinite linear;
}

.marquee img {
  display: flex;
  padding: 0 5px;
  height: 50px;
}

/*
* FOOTER
*/

footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--primary-green);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

/*
* FLOATERS
*/

.floater {
  position: absolute;
}

#floater-jukebox {
  top: 10%;
  left: 83%;
  width: 15%;
  height: 350px;
}

.win-panel {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #8fe9b3;
  border-radius: 3px;
  border: 2px solid #48bc76;
  height: fit-content;
}

.win-panel h3 {
  color: white;
  padding: 3px 10px;
  font-size: 9pt;
  background: #74e8a2;
  background: linear-gradient(
    0deg,
    #74e8a2 1%,
    #61ce8c 49%,
    #48bc76 51%,
    #8fe9b3 90%
  );
}

.content {
  display: flex;
  background-color: white;
  margin: 0 3px 5px 3px;
  border: 3px solid var(--primary-green);
  padding: 5px;
  height: 90%;
}

#jukebox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
}

#jukebox > * {
  max-width: 250px;
}

audio {
  width: 100%;
}

#selection {
  overflow-y: scroll;
  max-height: 110px;
  border: 2px solid var(--primary-green);
}

.song-item {
  background-color: #338955;
  padding: 10px;
  color: white;
}

.song-item:not(:last-child) {
  border-bottom: 2px solid var(--primary-green);
}

/*
* KEYFRAMES
*/
@keyframes loop {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

@keyframes spin {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
