* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0 auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left {
  border-left: 3px double black;
}

.bumpered {
  border-left: 3px double black;
  border-right: 3px double black;
}

header,
main,
footer {
  width: 1000px;
  max-width: 1000px;
}

header {
  border-bottom: 3px double black;
}

header h1 {
  padding: 30px;
}

nav {
  width: 1000px;
  border-bottom: 3px double black;
}

main {
}

#status {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#statuscafe {
  text-align: center;
}

section {
  display: flex;
  border-bottom: 3px double black;
}

#row-4 {
  height: 300px;
}

#row-4 div {
  width: 333px;
}

#row-4 footer {
  border-top: 3px double black;
  width: 1000px;
}
